<!--https://github.com/himanshukamal/spotify-music/blob/main/templates/spotify-flask.html-->

<html>
<head>

</head>

<body>
	<div class="container content">
		<div class="row">
			<div class="twelve columns">
				<h1>Spotify Search</h1>
			</div>
		</div>
		<form class="form" action = "/" method = "post">
			<div class="row">
				<div class="fifteen columns">
					<p class="text_box">
						<input class="text_box_input" type="text" placeholder="Search for an artist or song" name = "nm" />
					</p>
				</div>
				<div class="two columns">
					<input class="submit_button whitebtn" type = "submit" value = "submit" />
				</div>
			</div>
		</form>

		{% if tracks %}
		<h3>Here are the top 10 tracks</h3>
		{% for track in tracks %}
		<div class="tile row">
			<div class="four columns">
			</div>

			<div class="eight columns songinfo">
				<p class="song_name">{{track['name']}}</p>
				<p class="artist_name">{{track['artists'][0]['name']}}</p>

				<audio controls>
					<source src="{{track['preview_url']}}" type="">
				</audio>
				<div class="row">
					<p class="audio_link four columns">
						<a href="{{track['external_urls']['spotify']}}">
						</a>
					</p>
					<figure class="two columns popularity">
						<figcaption>
							{{track['popularity']}}
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
	<footer class="row footer">

</body>
</html>
